name: CI/CD Pipeline to AWS ECS

on: 
  workflow_dispatch:
# on:
#   push:
#     branches:
#       - main
#   pull_request:
#     branches:
#       - main

env:
  AWS_REGION: 'us-east-1'
  ECR_REPOSITORY: 'my-ecr-repo'
  ECS_CLUSTER: 'my-ecs-cluster'
  ECS_SERVICE: 'my-ecs-service'
  ECS_TASK_FAMILY: 'my-task-family'
  ECS_TASK_DEFINITION: 'my-task-definition.json'
  CONTAINER_NAME: 'my-container'

permissions:
  contents: read
  id-token: write

# -----Validation Job-----

jobs:
  validate:
    name: Validate Code Quality
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Create Inline Dockerfile for Super-Linter
        run: |
          cat <<EOF > Dockerfile.super-linter
          FROM github/super-linter:slim-v5
          COPY . /tmp/lint
          EOF

      - name: Run Super-linter with Docker Cache
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.super-linter
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            RUN_LOCAL=true
            VALIDATE_ALL_CODEBASE=false
            DEFAULT_BRANCH=main
            GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}
            VALIDATE_JAVASCRIPT_ES=true
            VALIDATE_JAVASCRIPT_STANDARD=true
            VALIDATE_JSON=true
            VALIDATE_YAML=true
            VALIDATE_DOCKERFILE_HADOLINT=true

      # - name: Run Super-Linter
      #   uses: github/super-linter@v6
      # #   # Temporarily allow linter step to not fail the whole job while we
      # #   # investigate/fix validation errors. Remove this after resolving the
      # #   # root cause (or set to false and fix specific validators).
      # #   # continue-on-error: true
      #   env:
      #     VALIDATE_ALL_CODEBASE: false
      #     DEFAULT_BRANCH: main
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #     VALIDATE_JS_ES: true
      #     VALIDATE_JAVASCRIPT_STANDARD: true
      #     # LINTER_IMAGE: ghcr.io/github/super-linter:slim-latest


  # -----Test Job-----

  test:
    name: Test Application
    runs-on: ubuntu-latest
    needs: validate
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup and Run Tests
        uses: ./.github/actions/test

  # -----Build and Push a Docker Image to ECR-----

  build:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    needs: test

    if: github.ref == 'refs/heads/main' && github.event_name == 'push'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Setup AWS
        uses: ./.github/actions/aws-setup
        with:
          aws-role-arn: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to AWS ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push image to Amazon ECR
        id: build-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.sha }}
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  # ------Deploy the new Image to ECS-------

  deploy:
    name: Deploy to AWS ECS
    runs-on: ubuntu-latest
    needs: build

    if: github.ref == 'refs/heads/main' && github.event_name == 'push'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup AWS
        uses: ./.github/actions/aws-setup
        with:
          aws-role-arn: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Determine ECR registry
        id: registry
        run: |
          ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
          echo "registry=${ACCOUNT_ID}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com" >> "$GITHUB_OUTPUT"

      - name: Download existing ECS task definition
        run: |
          aws ecs describe-task-definition \
            --task-definition ${{ env.ECS_TASK_FAMILY }} \
            --query taskDefinition > ${{ env.ECS_TASK_DEFINITION }}

      - name: Clean ECS task definition
        run: |
          jq 'del(
            .taskDefinitionArn,
            .revision,
            .status,
            .requiresAttributes,
            .registeredAt,
            .registeredBy,
            .compatibilities,
            .enableFaultInjection
          )' ${{ env.ECS_TASK_DEFINITION }} > cleaned-task-def.json
          mv cleaned-task-def.json ${{ env.ECS_TASK_DEFINITION }}

      - name: Fill in the new image ID in the Amazon ECS task definition
        id: task-def
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition: ${{ env.ECS_TASK_DEFINITION }}
          container-name: ${{ env.CONTAINER_NAME }}
          image: ${{ steps.registry.outputs.registry }}/${{ env.ECR_REPOSITORY }}:${{ github.sha }}

      - name: Deploy Amazon ECS task definition
        uses: aws-actions/amazon-ecs-deploy-task-definition@v1
        with:
          task-definition: ${{ steps.task-def.outputs.task-definition }}
          service: ${{ env.ECS_SERVICE }}
          cluster: ${{ env.ECS_CLUSTER }}
          wait-for-service-stability: true
